.navBar {
  position: fixed;
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0.1);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  @media (max-width: 576px) {
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
  .navbarInner {
    display: flex;

    align-items: center;
    justify-content: space-around;
    @media (max-width: 576px) {
      padding: 0px 20px;
      justify-content: space-between;
    }
    .logo {
      cursor: pointer;
      img {
        height: 60px;
        width: auto;
      }
    }

    .navLinks {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      column-gap: 100px;

      @media (min-width: 577px) and (max-width: 767px) {
        column-gap: 50px;
      }
      @media (max-width: 576px) {
        display: none;
      }
      .navLink {
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
      }
    }

    .hamburgerIcon {
      color: #fff;
      display: none;
      @media (max-width: 576px) {
        display: block;
      }
    }
  }
}
.navBarMobile {
  display: block;
  .mobileMenu {
    @media (min-width: 576px) {
      display: none;
    }
    width: 100%;
  }

  .navLink {
    color: #fff;
    background-color: rgba($color: #000, $alpha: 0.8);
    // border-top: 1px solid lightgray;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: none;
  }
}
